{% extends 'base.html' %}
{% block title %}Ekstrakcja opinii{% endblock %}
{% block content %}
    {% if form.product_id_errors %}
        <div class="alert alert-danger aler-dismissible fade show" role="alert">
            <ul>
                {% for error in form.product_id_errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
            <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <form action="{{url_for('extract')}}" method="post" class="row align-items-center" novalidate>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Kod Produktu" aria-label="Kod produktu" style="width: 200px" aria-describedby="button-addon2">
            <button class="btn btn-dark" type="button" id="button-addon2">>></button>
          </div>
    </form>
{% endblock %}
